.debug{
    border: 1px solid red;
}

*{
    list-style-type: none;
}

#interface{
    width: 75%;
    height: 90%;
}

/* main */


/*************************************
             CONTACTS
**************************************/

#contacts{
    padding: 0;
}

/* header */

#contacts .header{
    height: 60px;
}

/* info box */

#contacts #info-box{
    height: 65px;
}

/* search */

#contacts #search-bar{
    height: 35px;
}

/* list */

#list{
    height: 65px;
}

.item-box{
    height: 100%;
}

.item-pic{
    width: 20%;
}

.item-text{
    flex-grow: 1;
}

.item-info{
    width: 30%;
}


/*************************************
             CHAT
**************************************/

#chat{
    padding: 0;
}

#chat .header{
    height: 60px;
}

/* chat box */

#chat #chat-box{
    height: calc(100% - 110px);
}

/* footer */

#chat .footer{
    height: 50px;
}

.footer .emoji,
.footer .audio-message{
    width: 10%;
}

.footer .box-message{
    flex-grow: 1;

}