/* .debug{
    border: 1px solid red;
} */

/* .debug-green{
    border: 1px solid green;
} */

*{
    list-style-type: none;
}

#interface{
    width: 75%;
    height: 90%;
}

/* main */


/*************************************
             CONTACTS
**************************************/

#contacts{
    padding: 0;
    height: 100%;
}

/* header */

.header{
    height: 60px;
    background-color: #eaeaea;
}

#contacts .header .item-text{
    line-height: 65px;
    vertical-align: middle;
}

/* info box */

#contacts #info-box{
    height: 65px;
    background-color: #8edafc;
}

#info-box #pro-pic{
    line-height: 56.76px;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #8edafc;
}

/* search */

#contacts #search-bar{
    height: 35px;
    background-color: #f9f9f9;
}


/* list */

#contacts-list{
    height: calc(100% - (65px + 60px));
}

#list{
    height: calc(100% - 35px);
    overflow: scroll;
}

#list .item-box{
    height: 65px;
}

#list .item-box:hover{
    background-color: #f9f9f9;
}

#list .clicked{
    background-color: #f3eeea;
}

#list .clicked:hover{
    background-color: #f3eeea;

}

.item-box{
    height: 100%;
}

.item-pic{
    width: 20%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pro-pic{
    width: 85%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f2fbff;
}

#pro-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-text{
    flex-grow: 1;
}

.last-mex{
    font-size: 0.75rem;
    color: gray;
}

.item-info{
    width: 30%;
}


/*************************************
             CHAT
**************************************/

#chat{
    padding: 0;
}

/* header */

#chat .header .item-pic{
    width: 10%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat .header #pro-pic{
    width: 85%;
    aspect-ratio: 1;
    border-radius: 50%;
}

#chat .header .item-text{    
}

#chat .header .item-info{
    flex-grow: 1;
}

/* chat box */

#chat #chat-box{
    height: calc(100% - 110px);
    background-image: url(../img/mine.jpg);
    padding: 15px;
}

.box-sent-mex{
    overflow: hidden;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    overflow-wrap: break-word;


}

.sent{
    background-color: #d5f9ba;
    border-radius: 10px;
    max-width: 400px;
    padding: 5px;
}

.box-received-mex{
    overflow: hidden;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    overflow-wrap: break-word;


}

.received{
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 400px;
    padding: 5px;
}

#chat .mex{
    margin: 15px 0;
}



/* footer */

#chat .footer{
    height: 50px;
    background-color: #f3eeea;
}

.footer .emoji,
.footer .audio-message{
    width: 10%;
}

.footer .box-message{
    flex-grow: 1;

}